#box-newlobby-wrapper {
	background-color: #313a41;
	width: 200px;
}

#lobby-input {
	width: 95px;
	height: 50px;
	background-color: #6c6d75;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	outline-width: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
}

input[type="text"]:invalid {
	background-image: url(../img/rejected.svg);
	background-size: 14px;
	background-position: 97% 3%;
	background-repeat: no-repeat;
}

#join-lobby {
	margin: 20px 0 0;
}

.box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#box-wrapper {
	background-color: #313a41;
	width: 200px;
	margin: 14px;
	height: 272px;
	position: relative;
}

.github-icon {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

main {
	display: flex;
	justify-content: center;
	padding: 10px 20px;
	width: calc(100% - 40px);
	margin: auto;
	flex-wrap: wrap;
}
