#box-menu {
	visibility: hidden;
	background-color: #313a41;
	width: 200px;
}

#reset {
	background-color: #b10000;
}

#box-main {
	background-color: #313a41;
	width: 600px;
	display: flex;
	flex-direction: column;
}

#box-participants-wrapper {
	background-color: #313a41;
	width: 200px;
}

#lobby-link-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lobby-link-img {
	width: 100%;
	cursor: pointer;
}

#lobby-link-img:hover {
	opacity: 0.5;
}

#lobby-url {
	font-size: 14px;
	font-style: italic;
	cursor: pointer;
}

#modal-content-picture {
	margin: 10px;
	width: 100px;
	background: url(../img/share.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

#modal-content-text {
	width: calc(100% - 120px);
	height: 100%;
	margin-top: 10px;
	margin-right: 10px;
}

.modal-background {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background-color: rgba(255,255,255,0.5);
}

.modal {
	z-index: 2;
	display: flex;
	width: 400px;
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #313a41;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-between;
}

.participant-waiting {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../img/sandclock.svg);
	background-size: 35px 35px;
	padding-right: 4px;
}

.participant-finished {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/tick.svg);
	background-size: 25px 25px;
	padding-right: 10px;
	background-repeat: no-repeat;
}

.map {
	height: 125px;
	width: 125px;
	border: 1px solid black;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.map-voted {
	background: url(../img/tick.svg);
}

.map-icon {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.map:active > .map-icon, .map:focus > .map-icon, .map:hover > .map-icon {
	width: 23px;
	height: 23px;
	background-size: 23px 23px;
	right: 6px;
	bottom: 6px;
}

@media(hover: none) {
	.map:hover, .menu-button:hover {
		cursor: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		font-size: inherit;
	}

	.map:hover > .map-icon {
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
		right: 5px;
		bottom: 5px;
	}
}

.box-maps {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
}

.participant {
	height: 50px;
	width: 80%;
	border: 1px solid black;
	margin: 10px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	justify-content: space-between;
}

.participant:first-of-type {
	margin-top: 20px;
}

.box-participants {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.box-footer {
	background-color: #1b232e;
	min-height: 25px;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
	margin-top: auto;
}

.slider-wrapper {
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.slider {
	-webkit-appearance: none;
	height: 15px;
	border-radius: 15px;
	background: #6c6d75;
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top: 8px;
	margin-bottom: 15px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #006400;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #006400;
	border: 0;
	cursor: pointer;
}

.slider-text {
	align-self: flex-start;
	margin-left: 20px;
}

main {
	display: flex;
	justify-content: space-between;
	min-height: calc(100% - 80px);
	padding: 40px 75px;
	width: calc(100% - 150px);
}

@media (max-width:  900px) {
	main {
		flex-direction: column;
		min-height: calc(100% - 60px);
		padding: 20px 40px 40px;
		width: calc(100% - 80px);
	}

	#box-participants-wrapper, #box-main, #box-menu {
		width: 100%;
		margin-top: 10px;
	}

	#box-main {
		flex: 1 1 auto;
	}

	.box-styling {
		margin: 10px 0 0 0;
	}

	.box-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		margin: auto 40px;
		width: calc(100% - 80px);
	}
}

.github-icon {
	position: relative;
}

.github-icon > a {
	position: absolute;
	right: 2px;
	bottom: 2px;
}
