body {
	background-color: #657887;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 1.0em;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-right: 4px;
    padding-bottom: 2px;
}

#menu-box {
	background-color: #313a41;
	width: 200px;
}

#main-box {
	background-color: #313a41;
	width: 600px;
}

#user-box {
	background-color: #313a41;
	width: 200px;
}

.box-styling {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.box-header {
	background-color: #1b232e;
	height: 25px;
	width: 100%;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	text-align: right;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
	display: flex;
    justify-content: space-between;
}