body {
	background-color: #657887;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}

html, body {
	min-height: 100%;
	height: auto;
    margin: 0px;
    padding: 0px;
}

h1 {
	font-size: 1.0em;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
	padding-right: 4px;
	padding-bottom: 2px;
}

h2 {
	font-size: 1.0em;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	padding-left: 4px;
	padding-top: 4px;
}

#box-menu {
	visibility: hidden;
	background-color: #313a41;
	width: 200px;
}

.menu-button {
	padding: 14px;
	border: 1px solid #000;
	margin: 20px auto;
	max-width: 66%;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) inset, 0px 6px 20px rgba(10, 10, 10, 1);
}

#show-result {
	background-color: #006400;
}

#reset {
	background-color: #b10000;
}

#box-main {
	background-color: #313a41;
	width: 600px;
	display: flex;
	flex-direction: column;
}

#box-participants-wrapper {
	background-color: #313a41;
	width: 200px;
}

.map-voted {
	background: url(../img/tick.svg);
}

.map-icon {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.participant-waiting {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../img/sandclock.svg);
	background-size: 35px 35px;
	padding-right: 4px;
}

.participant-finished {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/tick.svg);
	background-size: 25px 25px;
	padding-right: 10px;
	background-repeat: no-repeat;
}

.map {
	height: 125px;
	width: 125px;
	border: 1px solid black;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.map:hover, .menu-button:hover {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) inset, 0px 6px 20px rgba(101, 120, 135, 0.19);
	cursor: pointer;
}

.box-maps {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.participant {
	height: 50px;
	width: 80%;
	border: 1px solid black;
	margin: 10px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	justify-content: space-between;
}

.participant:first-of-type {
	margin-top: 20px;
}

.box-participants {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

.box-styling {
	margin: 0 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.box-header {
	background-color: #1b232e;
	height: 25px;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

.box-footer {
	background-color: #1b232e;
	height: 25px;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
	margin-top: auto;
}

main {
	display: flex;
	justify-content: space-between;
	min-height: calc(100% - 80px);
	padding: 40px 75px;
	width: calc(100% - 150px);
}

.github-icon {
	position: relative;
}

.github-icon > a {
	position: absolute;
	right: 2px;
	bottom: 2px;
}

@media (max-width:  900px) {
	main {
		flex-direction: column;
		min-height: calc(100% - 60px);
		padding: 20px 40px 40px;
		width: calc(100% - 80px);
	}

	#box-participants-wrapper, #box-main, #box-menu {
		width: 100%;
		margin-top: 10px;
	}
}
